.DS_Store
euphonium/protos
targets/cli/build
targets/esp32/app/dependencies.lock
web/yarn.lock
.idea
cmake-build-debug
build/
scripts-version
wifi.config.json
euphonium/scripts/*.json
euphonium/scripts/configuration/*.json
targets/esp32/app/spiffs/*
py/
*.d
.cache
.cache/
authBlob.json
**/**/.project
**/**/.cproject
**/**/CMakeCache.txt
**/**/CMakeFiles
euphonium/Makefile
euphonium/berry/
euphonium/cmake_install.cmake
targets/esp32/euphonium-.tar.gz
targets/esp32/ota.bin
targets/esp32/ota_checksum.txt
targets/esp32/scripts.tar
targets/esp32/scripts_checksum.txt
